body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}


.modal-content {
    position: relative;
    top: 0;
    left: 0;
    line-height: 1.4;
    background: #f1f1f1;
    
    border-radius: 1px;
    width: 19rem;
    height: 31rem;
    background-color: var(--primaryBg);
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid white;
}

.modal-header {
    display: flex;
    background-color: var(--hoverBlue);
    color: white;
    line-height: 0;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
    height: 1.5rem;
}

.modal-body {
    padding: 14px 28px;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: .25rem;

}

.header-left img {
    max-height: 1.3rem;
    margin-right: .25rem;
}
.header-right button{
    background-color: var(--primaryBg);
    font-weight: bold;
    margin:0;
    margin-right: .2rem;
}