.homepage {
    overflow: hidden;
    position: fixed;
    display: flex;
    background-color: var(--desktopBg);
    height: var(--app-height);
    max-height: var(--app-height);
    width: 100vw;
  }