.homepage {
    overflow: hidden;
    position: fixed;
    display: flex;
    background-color: var(--desktopBg);
    height: var(--app-height);
    max-height: var(--app-height);
    width: 100vw;
}

.homepage-items {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 1rem;
}

.homepage-item {
  border: 1px solid transparent;
  margin-bottom: 1.5rem;
  padding:.25rem;
  color: white;
}

.item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: white;
}

.item-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-icon img {
  height: 4rem;
  max-height: 5rem;
  margin-bottom: .25rem;
}

#minesweeper-icon {
  height: 3.5rem;
  max-height: 5rem;
}


.box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hotpink;
  height: 60px;
  width: 60px;
  cursor: pointer;
}