.start-menu {
    height: 18rem;
    width: 16rem;
    background-color: var(--primaryBg);
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid white;
    position: absolute;
    bottom: 3.1rem;
    margin-left: .35rem;
    display: flex;
}

.start-menu-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.menu-sidebar {
    display: flex;
    align-items: flex-end;
    background-color: #7d7b7d;
}
.menu-sidebar img {
    height: 85%;
}

.menu-option {
    display: flex;
    align-items: center;
    font-weight: 100;
    width: 100%;
    height: 3.6rem;
    cursor: default;
}

.menu-option:hover {
    background-color: var(--hoverBlue);
    color: white;
}
.menu-option-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
    width: 100%;
    font-weight:normal;
}
.menu-option img {
    min-width: 3.5rem;
    max-height: 3.5rem;
    margin-left: .5rem;

}

.menu-divider {
    margin: 0;
    padding: 0;
}