.start-bar {
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: var(--primaryBg);
    border-top: white 2px solid;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

.start-bar-left {
    display: flex;
}

.start-bar button {
    margin: .25rem;
}

.start-button {
    width: 6rem;
    background-color: var(--primaryBg);
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid white;
}

.start-button span, .start-button {
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 1.5rem;
    font-weight: bold;
}

.start-button span {
    outline: 2px dotted black;
}

.win95-icon {
    max-height: 1.5rem;
    margin-right: .25rem;
}

.program-button {
    width: 12rem;
    font-size: 1.5rem;
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid white;
    display: flex;
    align-items: center;

}

.notClicked {
    background-color: var(--primaryBg);
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid white;
}

.clicked {
    background-color: #d3d3d3;
    border-top: 2px solid #9a9a9a;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid #9a9a9a;
}

.time-button {
    width: 5rem;
    background-color: var(--primaryBg);
    font-size: 1rem;

    border-top: 2px solid #9a9a9a;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid #9a9a9a;
    height: 2.4rem;
}

.tab-icon {
    height: 1.6rem;
    margin-right: .5rem;
}

.button-text {
    display: flex;
    align-items: flex-end;
}
