.minesweeper {
  margin: 0;
  background-color: var(--primaryBg);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 0 10px 10px 10px;
}
.title {
  margin: 15px;
}

.minesweeper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: .75rem;
  border-top: 3px inset #adadad;
  border-right: 3px inset white;
  border-bottom: 3px inset white;
  border-left: 3px inset #adadad;
}

.bomb-counter, .game-timer {
  color: red;

  background-color: black;
  width: 4rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}

.bomb-counter span, .game-timer span { 
  margin-top: .4rem;
  font-family: 'Segment7Standard';
  font-size: 2.1rem;
}
.bomb-counter {
  margin-left: .5rem;
}

.game-timer {
  margin-right: .5rem;
}

.smiley-face {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;

  border-top: 3px outset white;
  border-right: 3px outset #adadad;
  border-bottom: 3px outset #adadad;
  border-left: 3px outset white;
}

.smiley-face img {
  height: 80%;
}
.board {
  display: inline-grid;
  grid-template-columns: repeat(var(--size), 25px);
  grid-template-rows: repeat(var(--size), 25px);
  /* gap: 4px; */
  background-color: var(--primaryBg);
  border-top: 3px inset #adadad;
  border-right: 3px inset white;
  border-bottom: 3px inset white;
  border-left: 3px inset #adadad;
}

.board div {
  border-top: 3px outset white;
  border-right: 3px outset #adadad;
  border-bottom: 3px outset #adadad;
  border-left: 3px outset white;
  font-size: 1.2rem;
}

.board > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  /* border: 2px solid #BBB; */
  user-select: none;
  font-family: "PressStart2P";
}

.board > .hidden {
  background-color: #BBB;
  cursor: pointer;
}

.board > .mine {
  background-color: red;
  border: 1px solid #939393;

}

.board > .number {
    border: 1px solid #939393;

}

.flag-icon, .bomb-icon {
  height: 20px;
}

.pressed {
  /* background-color: blue; */
  border-top: 4px solid #9a9a9a;
  border-right: 2px solid #9a9a9a;
  border-bottom: 2px solid #9a9a9a;
  border-left: 4px solid #9a9a9a;
}