:root {
  --desktopBg: #018281;
  --primaryBg: #c0c0c0;
  --secondaryBg: #808080;
  --hoverBlue: #00007c;
  --app-height: 100vh;
}
* {
  box-sizing: border-box;
  scrollbar-color: var(--primaryBg) lightgray;
}

::-webkit-scrollbar {
  width: 20px;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--primaryBg);
  border: 2px outset lightgray;
}
::-webkit-scrollbar-track {
  background: lightgray;
}
p {
  padding: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "default", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}




.Bio {
  padding: 0;
  margin: 0;
  touch-action: none;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primaryBg);
  height: auto;
  max-height: 500px;
  width: auto;
  max-width: 300px;
  position: absolute;
  border-top: 2px outset white;
  border-right: 2px outset black;
  border-bottom: 2px outset black;
  border-left: 2px outset white;
  top: 25%;
  left: 25%;
}

.modal-header {
  touch-action: none;
  display: flex;
  background-color: var(--secondaryBg);
  color: white;
  line-height: 0;
  justify-content: space-between;
  align-items: center;
  font-size: .75rem;
  height: 1.5rem;
  width: 100%;
  max-width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: .25rem;

}

.header-left img {
  max-height: 1.3rem;
  margin-right: .25rem;
}

.header-right button{
  background-color: var(--primaryBg);
  font-weight: bold;
  margin:0;
  margin-right: .2rem;
}

/* .bio-body, .recycle-body {
  height: 100%;
} */

.bio-body {
  text-align: center;
  max-width: 800px;
  min-width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.bio-body p {
  padding: 1rem;
}

.bio-body h1 {
  padding-bottom: 0.5rem;
  font-size: 30px;
}

.selfie {
  height: 200px;
  max-width: 100%;
  border-radius: 350%;
}
.logos {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: fit-content;
}
.techLogo {
  padding: 0;
  height: 50px;
}
.bio-title {
  margin: 1rem 0 0.5rem 0;
}

.RecycleBin, .OldResume, .Projects {  
  touch-action: none;
  overflow-y: none;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primaryBg);
  height: fit-content;
  height: 400px;
  width: 40vw;
  min-width: 250px;
  max-width: 400px;
  position: absolute;
  border-top: 2px outset white;
  border-right: 2px outset black;
  border-bottom: 2px outset black;
  border-left: 2px outset white;
  top: 25%;
  left: 25%;
}

.OldResume {
  height: auto;
}

.window-body {
  display: flex;
  flex-wrap: wrap;
  color: black;
  position: relative;
  height: 95%;
  width: 95%;
  background-color: white;
  margin: 1rem;
  border: 2px inset black;
}


.modal-screen {
  background-color: white;
  
  height: 100%;
  margin: 2rem 1rem 1rem 1rem;
}

.top {
  position: absolute;
  z-index: 100;
}
.top .modal-header {
  background-color: var(--hoverBlue);
}

.fullscreen {
  position: absolute;
  top:0 !important;
  left:0 !important;  
  max-height: none;
  max-width: none;
  height: 100vh;
  width: 100vw;
}

.icon {
  color: inherit;
  height: fit-content;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
}
.icon p {
  margin: 0;
}
.icon img {
  padding-bottom: 0.25rem;
  width: 70%;
}

.resume-body img{
  
  width: fit-content;
  max-width: 100%;
}

.project-body {
  overflow-y: auto;
  height: 90%;
  max-width: 1200px;
  padding: 1rem;
  padding-bottom: 0;
  margin: 0 auto;
}